/.project
/**/.classpath

# ignore .svn metadata files
.svn
# ignore Maven generated target folders
~
target
classes
*.zip

# temp files
*~

# Ignore Maven target/ dirs
/**/target/**/* 

#Ignore Maven generated artifacts
/**/.classpath
/**/.project
/**/.settings

media-server-docs/sources-mobicents/src


