/.project
/**/.classpath

# ignore .svn metadata files
.svn

# ignore OS junk files
.DS_Store

# ignore Maven generated target folders
~
target
bin
classes
*.zip

# temp files
*~

# Ignore Maven target/ dirs
/**/target/**/* 

#Ignore Maven generated artifacts
/**/.classpath
/**/.project
/**/.settings

# ignore diagram images
*.png

media-server-docs/sources-mobicents/src
media-server-docs/sources-telscale/src
client/jsr-309/tck/tck-run

/**/*.iml
.idea
