<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] (%t) %m%n"/>
		</Console>
		<RollingFile name="FILE" fileName="../log/server.log" filePattern="../log/$${date:yyyy-MM-dd}/server-%d{yyyy-MM-dd_HHmm}-%i.log.gz" append="false" immediateFlush="false" >
			<PatternLayout>
				<Pattern>%d %-5p [%c{1}] (%t) %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy minSize="1" />
				<TimeBasedTriggeringPolicy interval="60" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" compressionLevel="1" />
		</RollingFile>
		<Async name="ASYNC">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="FILE"/>
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="org.restcomm.media" level="debug"/>
		<Logger name="org.restcomm.media.control.mgcp" level="debug"/>
		<Logger name="org.restcomm.media.rtp" level="info"/>
		<Logger name="org.restcomm.media.rtcp" level="info"/>
		<Root level="info">
			<AppenderRef ref="ASYNC"/>
		</Root>
	</Loggers>
</Configuration>
